@import './base.css'; /* Import base styles if defined in base.css */

body {
  background-color: #002331e8;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
